﻿@*
	This is the main dashboard layout that creates the AdminLTE look and feel
	   It includes all of the relevant CSS and Js in this project and across CDNs around the web for optimal load times
	   TODO: Use this layout in your views by either setting the "Layout" property
	   or changing your  _ViewStart.cshtml to use this layout
*@
@{
    var url = @HttpContext.Current.Request.Url.AbsoluteUri;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	@*TODO: Change App name*@
	<title>@ViewBag.Title - Airport panel</title>

	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
	@*Source Sans Pro from Google Fonts*@
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" rel="stylesheet" />
    @*Bundle CSS, assuming includes Bootstrap CSS *@
    @Styles.Render("~/Content/css")
	@RenderSection("styles", required: false)
	<!-- Font Awesome Icons -->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<!-- Ionicons -->
	<link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />
	<!-- Morris chart -->
	<link href="~/Scripts/AdminLTE/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
	<!-- jvectormap -->
	<link href="~/Scripts/AdminLTE/plugins/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
	<!-- Daterange picker -->
	<link href="~/Scripts/AdminLTE/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
	<!-- DataTables -->
	<link href="~/Scripts/AdminLTE/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
	<!-- Theme style -->
	<link href="~/Content/AdminLTE/AdminLTE.min.css" rel="stylesheet" type="text/css" />
	@*TODO: AdminLTE Skins. Choose a skin from the css/skins
		folder instead of downloading all of them to reduce the load.*@
	<link href="~/Content/AdminLTE/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
	@Scripts.Render("~/bundles/modernizr")
</head>
<body class="skin-green sidebar-mini sidebar-collapse">

    <div class="wrapper">

        @Html.Partial("_AdminLteTopMenu")
        <!-- Left side column. contains the logo and sidebar -->
        @Html.Partial("_AdminLteLeftMenu")
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @*<section class="content-header">
                    <h1>
                        @ViewBag.Title
                        <small>@ViewBag.TitleSmall</small>
                    </h1>
                    @Html.Partial("_AdminLteBreadcrumb")
                </section>*@
            <!-- Main content -->
            <section>
                @RenderBody()
            </section>
        </div><!-- /.content-wrapper -->
        @*<footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 2.0
                </div>
            </footer>*@
    </div><!-- ./wrapper -->
    @* Bundles assume jquery 2.1.3 and Bootstrap 3 *@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!-- FastClick -->
    <script src='~/Scripts/AdminLTE/plugins/fastclick/fastclick.min.js'></script>
    <!-- AdminLTE App -->
    <script src="~/Scripts/AdminLTE/app.js" type="text/javascript"></script>
    <!-- Sparkline -->
    <script src="~/Scripts/AdminLTE/plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
    <!-- jvectormap -->
    <script src="~/Scripts/AdminLTE/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/AdminLTE/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
    <!-- daterangepicker -->
    <script src="~/Scripts/AdminLTE/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <!-- datepicker -->
    <script src="~/Scripts/AdminLTE/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
    <!-- iCheck -->
    <script src="~/Scripts/AdminLTE/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
    <!-- SlimScroll 1.3.0 -->
    <script src="~/Scripts/AdminLTE/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- ChartJS 1.0.1 -->
    <script src="~/Scripts/AdminLTE/plugins/chartjs/Chart.min.js" type="text/javascript"></script>
    <!-- DataTables -->
    <script src="~/Scripts/AdminLTE/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Scripts/AdminLTE/plugins/datatables/dataTables.bootstrap.js"></script>
    <!-- Companies -->
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>
    var menu_links = document.getElementsByClassName('menu-link');
    Array.from(menu_links).forEach(
        function (elem, index) {
            //elem.addEventListener("click",
            //    function () {
            //        if (!this.classList.contains("activated")) {
            //            var activatedMenuLink = document.getElementsByClassName("menu-link activated");
            //            if (activatedMenuLink.length > 0 && activatedMenuLink[0].classList.contains('activated')
            //            ) activatedMenuLink[0].classList.remove("activated");
            //            this.classList.add("activated");
            //        }
            //    });
            if (elem.href === "@url") {
                elem.classList.add("activated");
                return;
            }
        }
    );
</script>
    @RenderSection("scripts", required: false)
</body>
</html>
