﻿@model MVC2.Models.Cities.CityModel

@{
    var action = Model.CityId > 0 ? "EditCity" : "AddNewCity";
    var header = Model.CityId > 0 ? $"Change city {Model.CityName}" : "Add new city";
    var buttonText = Model.CityId > 0 ? "Save" : "Create";
    ViewBag.Title = "City Details";
}

<div class="container body-content" style="padding-top: 20px;">
    @using (Html.BeginForm(action, "City", FormMethod.Post, new { @class = "form-horizontal col-md-offset-4", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4 style="margin-left: 80px;">@header</h4>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.CityId)
            <div class="col-md-10" style="margin-left: 65px;"> @Html.Label("Input city name")</div>
            <div class="form-group" style="margin-left: 1px">

                <div class="col-md-4">
                    @Html.EditorFor(model => model.CityName, new { htmlAttributes = new { @class = "form-control" } })
                    <br />
                    @Html.ValidationMessageFor(model => model.CityName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2" style="margin-top: -20px;">
                <input type="submit" value="@buttonText" class="btn btn-primary" />
            </div>

            <div class="col-md-2" style="margin-top: -20px;margin-left: 10px;">
                @Html.ActionLink("Back to List", "Index", null, new {@class= "btn btn-primary btn-success" })
            </div>
        </div>
    }
</div>