﻿@model Airport.Core.Models.City[]

@{
    ViewBag.Title = "Cities";
    var isAdmin = ViewBag.IsAdmin;
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Cities Table</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="city" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>City Id</th>
                            <th>City Name</th>
                            @if (isAdmin)
                            {
                                <th>Actions</th>
                            }
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var itm in Model)
                        {
                            <tr>
                                <td>@itm.CityId</td>
                                <td>@itm.CityName</td>
                                @if (isAdmin)
                                {
                                    <td>
                                        <span>@Html.ActionLink("Edit", "EditCity", new { cityId = itm.CityId }, new { @class = "btn btn-primary btn-success btn-xs" })</span>
                                        <span>@Html.ActionLink("Delete", "DeleteCity", new { cityId = itm.CityId }, new { @class = "btn btn-primary btn-danger btn-xs" })</span>
                                    </td>
                                }
                            </tr>
                        }
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>City Id</th>
                            <th>City Name</th>
                            @if (isAdmin)
                            {
                                <th>Actions</th>
                            }
                        </tr>
                        </tfoot>
                    </table>

                </div>

            </div>
            @if (isAdmin)
            {
                <div>
                    @Html.ActionLink("Add new City", "AddNewCity", routeValues: null, htmlAttributes: new { id = "AddLink", @class = "btn btn-primary", @style = "margin-left: 50%;transform: translateX(-50%);" })
                </div>
            }
        </div>
    </div>
</section>

@section Scripts{
    <script>
        $(function () {
            $('#city').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            });
        })
    </script>
}