﻿@model  MVC2.Models.CompanyPersons.CompanyPersonModel

@{
    var action = Model.PersonId > 0 ? "EditCompanyPerson" : "AddNewCompanyPerson";
    var header = Model.PersonId > 0 ? "Edit person" : "Add new person";
    var buttonText = Model.PersonId > 0 ? "Save" : "Create";
    ViewBag.Title = "Persons";
}

<div class="container body-content" style="padding-top: 20px;">
    @using (Html.BeginForm(action, "CompanyPerson", FormMethod.Post, new { @class = "form-horizontal col-md-offset-3", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4 class="col-md-offset-3">@header</h4>
            <hr/>
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})

            @Html.HiddenFor(x => x.PersonId)

            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10" style="margin-bottom: 10px">
                    @Html.EditorFor(model => model.FirstName, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.FirstName, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10" style="margin-bottom: 10px">
                    @Html.EditorFor(model => model.LastName, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.LastName, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Telephone, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10" style="margin-bottom: 10px">
                    @Html.EditorFor(model => model.Telephone, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Telephone, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10" style="margin-bottom: 10px">
                    @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Companies, htmlAttributes: new {@class = "control-label col-md-2"})
                @*<div class="form-group">*@
                <div class="col-md-10" style="margin-bottom: 10px">
                    @*<div style="margin-right: 80px">@Html.LabelFor(model => model.Companies, htmlAttributes: new { @class = "control-label col-md-2" })</div>*@
                    <select name="SelectedCompanyId" id="SelectedCompanyId" class="form-control" placeholder="Select company">
                        @foreach (var itm in Model.Companies)
                        {
                            if (Model.SelectedCompanyId == itm.CompanyId)
                            {
                                <option name="Company" value="@itm.CompanyId" selected>@itm.CompanyName</option>
                            }
                            else
                            {
                                <option name="Company" value="@itm.CompanyId">@itm.CompanyName</option>
                            }
                        }
                    </select>
                </div>
            </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-2" style="text-align: center;">
                        <input type="submit" value="@buttonText" class="btn btn-primary" style="width: 75px;"/>
                    </div>
                </div>
            </div>
    }
    <div style="text-align: center;margin-left: -10px;">
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>