﻿@model MVC2.Models.CompanyPersons.CompanyPersonModel

<div data-companyPersonId="@Model.SelectedCompanyId" class="companyPerson-preview">
    <div class="form-group row">
        @Html.LabelFor(model => model.SelectedCompanyName, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.DisplayFor(model => model.SelectedCompanyName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
</div>