﻿@model Airport.Core.Models.CompanyPerson[]

@{
    ViewBag.Title = "Company Persons";
    var isAdmin = ViewBag.IsAdmin;
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Persons Table</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="persons" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                @if (isAdmin)
                                {
                                    <th>Actions</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var itm in Model)
                            {
                                <tr id="personId-@itm.PersonId">
                                    <td>@itm.PersonId</td>
                                    <td>@itm.FirstName</td>
                                    <td>@itm.LastName</td>
                                    <td>@itm.Telephone</td>
                                    <td>@itm.Email</td>
                                    @if (isAdmin)
                                    {
                                        <td>
                                            <span>@Html.ActionLink("Edit", "EditCompanyPerson", new { presonId = itm.PersonId }, new { @class = "btn btn-primary btn-success btn-xs" })</span>
                                            <span>@Html.ActionLink("Delete", "DeleteCompanyPerson", new { presonId = itm.PersonId }, new { @class = "btn btn-primary btn-danger btn-xs" })</span>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                @if (isAdmin)
                                {
                                    <th>Actions</th>
                                }
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            @if (isAdmin)
            {
                @Html.ActionLink("Add new preson", "AddNewCompanyPerson", routeValues: null, htmlAttributes: new { id = "AddLink", @class = "btn btn-primary", @style = "margin-left: 50%;transform: translateX(-50%);" })
            }
        </div>
    </div>
</section>

@section Scripts{
    <script>
        $(function () {
            $('#persons').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            });
        })
    </script>
}
