﻿@model Airport.Core.Models.Terminal[]

@{
    ViewBag.Title = "Terminals";
    var isAdmin = ViewBag.IsAdmin;
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Terminals Table</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="terminal" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Terminal Id</th>
                                <th>Terminal Name</th>
                                @if (isAdmin)
                                {
                                    <th>Actions</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var itm in Model)
                            {
                                <tr id="companyId-@itm.TerminalId">
                                    <td>@itm.TerminalId</td>
                                    <td>@itm.TerminalName</td>
                                    @if (isAdmin)
                                    {
                                    <td>
                                        @*<span>@Html.ActionLink("Edit", "EditCity", new { cityId = itm.CityId })</span>*@
                                        <span>@Html.ActionLink("Edit", "EditTerminal", new { terminalId = itm.TerminalId }, new { @class = "btn btn-primary btn-success btn-xs" })</span>
                                        <span>@Html.ActionLink("Delete", "DeleteTerminal", new { terminalId = itm.TerminalId }, new { @class = "btn btn-primary btn-danger btn-xs" })</span>
                                    </td>
                                    }
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Terminal Id</th>
                                <th>Terminal Name</th>
                                @if (isAdmin)
                                {
                                    <th>Actions</th>
                                }
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            @if (isAdmin)
            {
                <div style="margin-top: 20px; margin-bottom: 20px;">
                    @Html.ActionLink("Add new terminal", "AddNewTerminal", routeValues: null, htmlAttributes: new { id = "AddLink", @class = "btn btn-primary", @style = "margin-left: 50%;transform: translateX(-50%);" })
                </div>
            }
        </div>
    </div>
</section>

@section Scripts{
    <script>
        $(function () {
            $('#terminal').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            });
        })
    </script>
}