﻿@model MVC2.Models.Terminals.TerminalModel
@{
    var action = Model.TerminalId > 0 ? "EditTerminal" : "AddNewTerminal";
    var header = Model.TerminalId > 0 ? $"Change terminal {Model.TerminalName}" : "Add new terminal";
    var buttonText = Model.TerminalId > 0 ? "Save" : "Create";
    ViewBag.Title = "Person Details";
}

<div class="container body-content" style="padding-top: 20px;">
    @using (Html.BeginForm(action, "Terminal", FormMethod.Post, new { @class = "form-horizontal col-md-offset-4", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4 style="margin-left: 65px;">@header</h4>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.TerminalId)
            <div class="col-md-10 " style="margin-left: 52px;"> @Html.Label("Input terminal name")</div>
            <div class="form-group" style="margin-left: 1px">

                <div class="col-md-4">
                    @Html.EditorFor(model => model.TerminalName, new { htmlAttributes = new { @class = "form-control" } })
                    <br />
                    @Html.ValidationMessageFor(model => model.TerminalName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2" style="margin-top: -20px">
                <input type="submit" value="@buttonText" class="btn btn-primary" />
            </div>

            <div class="col-md-2" style="margin-top: -20px;margin-left: 10px;">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-success" })
            </div>
        </div>
    }
</div>