﻿@model  MVC2.Models.Companies.CompanyModel

@{
    var action = Model.CompanyId > 0 ? "EditCompany" : "AddNewCompany";
    var header = Model.CompanyId > 0 ? "Edit company" : "Add new company";
    var buttonText = Model.CompanyId > 0 ? "Save" : "Create";
    ViewBag.Title = "Company Details";
}

<div class="container body-content" style="padding-top: 20px;">
    @using (Html.BeginForm(action, "Company", FormMethod.Post, new { @class = "form-horizontal col-md-offset-3", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4 class="col-md-offset-3">@header</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(x => x.CompanyId)

            <div class="form-group">
                @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Cities, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select name="SelectedCityId" id="SelectedCityId" class="form-control" placeholder="Select city">
                        @foreach (var itm in Model.Cities)
                        {
                            if (Model.SelectedCityId == itm.CityId)
                            {
                                <option name="City" value="@itm.CityId" selected>@itm.CityName</option>
                            }
                            else
                            {
                                <option name="City" value="@itm.CityId">@itm.CityName</option>
                            }
                        }
                    </select>

                    @*@Html.DropDownListFor(n => n.Cities, new SelectList(Model.Cities), "Please select city", new { htmlAttributes = new { @class = "form-control" } })*@
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-2" style="text-align: center;">
                    <input type="submit" value="@buttonText" class="btn btn-primary" style="width: 75px;" />
                </div>
            </div>
        </div>
    }

    <div style="text-align: center;margin-left: -10px;">
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

