﻿@model Airport.Core.Models.Company[]

@{
    ViewBag.Title = "Company";
    var isAdmin = ViewBag.IsAdmin;
    var ajaxOptions = new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "companyDetails",
        OnSuccess = "previewSuccess",
        OnFailure = "previewFailure",
        OnBegin = "showLoader",
        OnComplete = "closeLoader"
    };
}


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Companies Table</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="company" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Company Id</th>
                            <th>Company Name</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var itm in Model)
                        {
                            <tr id="companyId-@itm.CompanyId">
                                <td>@itm.CompanyId</td>
                                <td>@itm.CompanyName</td>
                                <td>
                                    @if (isAdmin)
                                    {
                                        <span>@Html.ActionLink("Edit", "EditCompany", new { companyId = itm.CompanyId }, new { @class = "btn btn-primary btn-success btn-xs" })</span>
                                        <span>@Html.ActionLink("Delete", "DeleteCompany", new { companyId = itm.CompanyId }, new { @class = "btn btn-primary btn-danger btn-xs" })</span>
                                    }
                                    <span>@Ajax.ActionLink("Headquarters", "CompanyPreview", new { companyId = itm.CompanyId}, new AjaxOptions {
                                              InsertionMode = InsertionMode.Replace,
                                              UpdateTargetId = "companyDetails-"+@itm.CompanyId,
                                              OnSuccess = "previewSuccess",
                                              OnFailure = "previewFailure",
                                              OnBegin = "showLoader",
                                              OnComplete = "closeLoader"
                                          }, new { @class = "btn btn-primary btn-info btn-xs" })</span>
                                    <span id="companyDetails-@itm.CompanyId"></span>
                                </td>
                            </tr>
                        }
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Company Id</th>
                            <th>Company Name</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
        @if (isAdmin)
        {
            <div>
                @Html.ActionLink("Add new company", "AddNewCompany", routeValues: null, htmlAttributes: new { id = "AddLink", @class = "btn btn-primary", @style = "margin-left: 50%;transform: translateX(-50%);" })
            </div>
        }
    </div>
</section>
@section Scripts{
    <script type="text/javascript">
        function previewSuccess() {
            var elem = $("#companyDetails").find(".company-preview");
            if (elem) {
                var id = $(elem).data("companyid");

                //$("table tbody tr").css({ "background-color": "white" });               // skip color for all rows
                //$("table tbody tr#companyId-" + id).css({ "background-color": "yellow" });  // colorize current

                $("table tbody tr").removeClass("selected");
                $("table tbody tr#companyId-" + id).addClass("selected");
            }
        }

        function previewFailure() {
            console.log("Update preview failure");
        }

        function showLoader() {
            // TODO: display img with spinner
        }

        function closeLoader() {
            // TODO: hide img with spinner
        }
    </script>
    <script>
        $(function () {
            $('#company').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': true
            });
        })
    </script>
}