﻿@using Airport.Core.Enums
@using WebGrease.Css.Extensions
@model  MVC2.Models.Flights.FlightModel

@{
    var action = Model.FlightId > 0 ? "EditFlight" : "AddNewFlight";
    var header = Model.FlightId > 0 ? "Edit flight" : "Add new flight";
    var buttonText = Model.FlightId > 0 ? "Save" : "Create";
    ViewBag.Title = "Flights";
    var dt = DateTime.Now;
}

<div class="container body-content" style="padding-top: 20px">

    @using (Html.BeginForm(action, "Flight", FormMethod.Post, new { @class = "form-horizontal col-md-offset-3", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4 class="col-md-offset-3">@header</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(x => x.FlightId)
            <div class="form-group">
                @Html.LabelFor(model => model.FlightNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.FlightNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FlightNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FilghtDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.FilghtDateTime, new { htmlAttributes = new { @class = "form-control", @type = "datetime-local",
                   @Value = Model.FilghtDateTime == DateTime.MinValue ? DateTime.Now.ToString("s") : Model.FilghtDateTime.ToString("s") } })
                    @Html.ValidationMessageFor(model => model.FilghtDateTime, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Company, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <select name="SelectedCompanyId" id="SelectedCompanyId" class="form-control" placeholder="Select Company">
                        @foreach (var itm in Model.Company)
                        {
                            if (Model.SelectedCompanyId == itm.CompanyId)
                            {
                                <option name="Company" value="@itm.CompanyId" selected>@itm.CompanyName</option>
                            }
                            else
                            {
                                <option name="Company" value="@itm.CompanyId">@itm.CompanyName</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FlightDuration, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.FlightDuration, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FlightDuration, "", new { @class = "text-danger" })
                </div>
            </div>
            @*  <div class="col-md-4">
                Bad variant for IE
                Normal for Chrome
                    @Html.DropDownListFor(model => model.SelectedCityFrom, new SelectList(Model.City, "CityId", "CityName", Model.SelectedCityFrom), "Select City", new {@style = "width:300px;height:35px"})
                </div>
            *@
            <div class="form-group">
                @Html.LabelFor(model => model.City, "Departure city", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <select name="SelectedCityFrom" id="CityFrom" class="form-control" placeholder="Select city">
                        @foreach (var itm in Model.City)
                        {
                            if (Model.SelectedCityFrom == itm.CityId)
                            {
                                <option name="City" value="@itm.CityId" selected>@itm.CityName</option>
                            }
                            else
                            {
                                <option name="City" value="@itm.CityId">@itm.CityName</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.City, "Arrival City", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <select name="SelectedCityTo" id="test" class="form-control" placeholder="Select city">
                        @foreach (var itm in Model.City)
                        {
                            if (Model.SelectedCityTo == itm.CityId)
                            {
                                <option name="City" value="@itm.CityId" selected>@itm.CityName</option>
                            }
                            else
                            {
                                <option name="City" value="@itm.CityId">@itm.CityName</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Terminal, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <select name="SelectedTerminalId" id="SelectedTerminalId" class="form-control" placeholder="Select terminal">
                        @foreach (var itm in Model.Terminal)
                        {
                            if (Model.SelectedTerminalId == itm.TerminalId)
                            {
                                <option name="Terminal" value="@itm.TerminalId" selected>@itm.TerminalName</option>
                            }
                            else
                            {
                                <option name="Terminal" value="@itm.TerminalId">@itm.TerminalName</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FlightStatusId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @*
                        Bad variant for IE
                        Normal for Chrome
                        @Html.DropDownListFor(model => model.FlightStatusId, new SelectList(@Enum.GetNames(typeof(FlightStatusEnum)).Select(x => x.Replace("_", " "))), "Select Status", new {@style = "width:300px;height:35px
                    *@
                    <select name="FlightStatusId" id="FlightStatusId" class="form-control" placeholder="Select status">
                        @foreach (var itm in Enum.GetValues(typeof(FlightStatusEnum)))
                        {
                            if (Model.FlightStatusId == (FlightStatusEnum)itm)
                            {
                                <option name="FlightStatus" value="@Model.FlightStatusId" selected>@Enum.GetName(typeof(FlightStatusEnum), itm).Replace("_", " ")</option>
                            }
                            else
                            {
                                <option name="FlightStatus" value="@Model.FlightStatusId">@Enum.GetName(typeof(FlightStatusEnum), itm).Replace("_", " ")</option>
                            }
                        }
                    </select>
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-2" style="text-align: center;">
                    <input type="submit" value="@buttonText" class="btn btn-primary" style="width: 75px;"/>
                </div>
            </div>
        </div>
    }
    <div style="text-align: center;margin-left: -10px;">
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
