﻿@using System.Globalization
@model Airport.Core.Models.Flight[]
@{
    ViewBag.Title = "Flights";
    var isAdmin = ViewBag.IsAdmin;
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Flights Table</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="flights" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Flight number</th>
                            <th>Carrier</th>
                            <th>Departure time</th>
                            <th>Arrival time</th>
                            <th>Flight time</th>
                            <th>Departure Point</th>
                            <th>Arrival Point</th>
                            <th>Terminal</th>
                            <th>Status</th>
                            @if (isAdmin)
                            {
                                <th>Actions</th>
                            }
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var itm in Model)
                        {
                            <tr id="flightId-@itm.FlightId">
                                <td>@itm.FlightNumber</td>
                                <td>@itm.Company.CompanyName</td>
                                <td>
                                    @{
                                        var formattedDepartureDate = itm.FilghtDateTime.ToString("dd MMM", CultureInfo.InvariantCulture) +
                                                                     " " + itm.FilghtDateTime.ToString("HH:MM", CultureInfo.InvariantCulture);
                                    }
                                    @formattedDepartureDate
                                </td>
                                <td>
                                    @{
                                        TimeSpan timeSpan = TimeSpan.Parse(itm.FlightDuration);
                                        var arrivaDateTime = itm.FilghtDateTime.Add(timeSpan);
                                        var formattedArrivalDate = arrivaDateTime.ToString("dd MMM", CultureInfo.InvariantCulture) +
                                                                   " " + arrivaDateTime.ToString("HH:MM", CultureInfo.InvariantCulture);

                                    }
                                    @formattedArrivalDate
                                </td>
                                <td>@itm.FlightDuration</td>
                                <td>@itm.CityFrom.CityName</td>
                                <td>@itm.CityTo.CityName</td>
                                <td>@itm.Terminal.TerminalName</td>
                                <td>
                                    @{
                                        var flightStatus = ((Airport.Core.Enums.FlightStatusEnum)itm.FlightStatusId).ToString().Replace('_', ' ');
                                    }
                                    @flightStatus
                                </td>

                                @if (isAdmin)
                                {
                                    <td>
                                        <span>@Html.ActionLink("Edit", "EditFlight", new { flightId = itm.FlightId }, new { @class = "btn btn-primary btn-success btn-xs" })</span>
                                        <span>@Html.ActionLink("Delete", "DeleteFlight", new { flightId = itm.FlightId }, new { @class = "btn btn-primary btn-danger btn-xs" })</span>
                                    </td>
                                }
                            </tr>
                        }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Flight number</th>
                                <th>Carrier</th>
                                <th>Departure time</th>
                                <th>Arrival time</th>
                                <th>Flight time</th>
                                <th>Departure Point</th>
                                <th>Arrival Point</th>
                                <th>Terminal</th>
                                <th>Status</th>
                                @if (isAdmin)
    {
                            <th>Actions</th>
}
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        @if (isAdmin)
        {
            @Html.ActionLink("Add new flight", "AddNewFlight", routeValues: null, htmlAttributes: new {id = "AddLink", @class = "btn btn-primary", @style="margin-left: 50%;transform: translateX(-50%);"})
        }
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(function () {
            $('#flights').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            });
        })
    </script>
}
